@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* font-family: 'Jua', sans-serif; */


.page_ShopCart{
  width: 100%; height: 100vh;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ShopCart__empty{
  width: 300px; height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  gap: 50px;
}

.ShopCart__empty_message{
  width: 90%; height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
}

.ShopCart__empty_title{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 107.52%;
  color: #F1AA1E;
}

.ShopCart__empty_subtitle{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 107.52%;
  color: #000000;
}

.ShopCart__empty_box{
  width: 90%; height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.ShopCart__empty_btn{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 107.52%;
  text-align: center;
  color: #FFFFFF;
  background: #F1AA1E;
  border-radius: 320px;
  padding: 11px 25px;
  border: none;
  cursor: pointer;
}

.ShopCart__empty_box > img{
  width: 300px; height: 280px;
}

.ShopCart__shopBox{
  width: 300px; height: max-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}





@media (min-width: 576px){
  .ShopCart__empty{
    width: 550px; height: max-content;
    gap: 50px;
  }

  .ShopCart__shopBox{
    width: 550px; height: max-content;
  }

  .ShopCart__empty_title{
    font-size: 32px;
  }
  
  .ShopCart__empty_subtitle{
    font-size: 18px;
  }

  .ShopCart__empty_btn{
    font-size: 18px;
    color: #fff;
    background: #F1AA1E;
    padding: 11px 25px;
  }
  

  .ShopCart__empty_box > img{
    width: 400px; height: 380px;
  }
}

@media (min-width: 992px){
  .ShopCart__empty{
    width: 850px; height: max-content;
    gap: 50px;
  }

  .ShopCart__shopBox{
    width: 850px; height: max-content;
  }

  .ShopCart__empty_title{
    font-size: 32px;
  }
  
  .ShopCart__empty_subtitle{
    font-size: 18px;
  }

  .ShopCart__empty_btn{
    font-size: 18px;
    color: #fff;
    background: #F1AA1E;
    padding: 11px 25px;
  }
  

  .ShopCart__empty_box > img{
    width: 600px; height: 510px;
  }
}



/* new */
.vShop{
  width: max-content; height: max-content;
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.vShop__boxImg{
  width: 175px; height: 140px;
  overflow: hidden;
  margin-bottom: 7px;
}

.vShop__boxImg > img{
  width: 110%; height: 110%;
  object-fit: contain;
  object-position: 0;
}

.vShop__div{
  width: 100%; height: 100%;
  display: flex;
  gap: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vShop__div_two{
  width: 100%; height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vShop__title{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #F1AA1E;
}

.vShop__price{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.vShop__body{
  max-width: 160px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #828282;
  margin: 10px 0;
  text-align: center;
}

.vShop__btn{
  width: max-content; height: max-content;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 107.52%;
  color: #FFFFFF;
  background: #F1AA1E;
  border-radius: 100px;
  border: none;
  padding: 9px 13px;
  cursor: pointer;
  z-index: 700;
}

.vShop__mainBtn{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 16px;
  padding: 10px 15px;
}



/* @media */
@media (min-width: 480px){
  /* .vShop{
    flex-direction: row;
  }

  .vShop__div {
    width: 55%;
    padding: 0 10px;
    align-items: flex-start;
  }
  

  .vShop__div_two{
    flex-direction: row;
    justify-content: space-between;
  }
  
  .vShop__body{
    max-width: 250px;
    text-align: start;
  } */
}

@media (min-width: 800px){
  .page_Shop_card{
    width: 600px; height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .vShop{
    flex-direction: column;
  }

  .vShop__boxImg {
    width: 225px;
    height: 166px;
    overflow: hidden;
    margin-bottom: 7px;
  }

  .vShop__boxImg > img {
    width: 100%;
    height: 120%;
  }

  .vShop__div {
    width: 90%;
    padding: 0 10px;
    align-items: flex-start;
  }
  

  .vShop__div_two{
    flex-direction: row;
    justify-content: space-between;
  }
  
  .vShop__body{
    max-width: 250px;
    text-align: start;
  }
}

@media (min-width: 1200px){
  .page_Shop_card{
    width: 900px; height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}



@media (min-width: 1700px){
  .vShop__boxImg {
    width: 281px;
    height: 201px;
    overflow: hidden;
    margin-bottom: 7px;
  }

  .vShop__title{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #F1AA1E;
  }

  .vShop__price{
    font-size: 15px;
  }

  .vShop__body{
    font-size: 14px;
    margin-bottom: 20px;
  }

  .vShop__btn{
    font-size: 14px;
    padding: 15px 25px;
  }

  .vShop__boxImg > img {
    width: 120%;
    height: 117%;
  }

  .vShop__div{
    width: 100%;
    padding: 0;
    padding-right: 15px;
    align-items: flex-start;
  }
}